ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin: 5px 0;
}

li button {
  margin-left: 10px;
}

li li {
  margin-left: 50px; /* Adjust the indentation value as needed */
}

li li li {
  margin-left: 50px; /* Adjust the indentation value as needed */
}
